@font-face {
	font-family: 'PeterFonts';
	src: url('../assets/fonts/peter_fonts.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bettina Signature';
	src: url('../assets/fonts/bettina_signature.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html {
	height: 100%;
	width: 100%;
}

body{
	--background-color: 0,0,30;
	
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: rgb(var(--background-color));
	color: #ebebeb;
}

body,
.fcf-title {
	font-family: 'PeterFonts';
}


.hidden {
	visibility: hidden;
	opacity: 0;
}

.smoke-pallette,
.coverflow-container,
.fcf {
	user-select: none;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
	transition-property: visibility, opacity;
}

.smoke-pallette {
	--glow-color: 255, 255, 200;
	
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, min(-92.5%, -800px));
	width: 100%;
	min-width: 1280px;
	filter: blur(5px);
	
	background-image: radial-gradient(
		circle at 50%,
		rgba(var(--glow-color), 37.5%) 0,
		rgba(var(--glow-color), 28.125%) 16.5%,
		rgba(var(--glow-color), 0) 50%
	);
}

.coverflow-container {
	--mask: linear-gradient(
		to right,
		rgba(255, 255, 255, 5%),
		rgba(255, 255, 255, 80%) 20%,
		white 25%,
		white 75%,
		rgba(255, 255, 255, 80%) 80%,
		rgba(255, 255, 255, 5%)
	);
	
	height: 100%;
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	-webkit-mask-image: var(--mask);
	mask-image: var(--mask);
}

@media (orientation: landscape) {
	.coverflow-container:has([data-ghost-frame] + .fcf--median-visible) {
		--mask: linear-gradient(
			to right,
			rgba(255, 255, 255, 5%),
			rgba(255, 255, 255, 80%) 30%,
			white 40%,
			white 75%,
			rgba(255, 255, 255, 80%) 80%,
			rgba(255, 255, 255, 5%)
		);
	}
	
	.coverflow-container:has(.fcf--median-visible + [data-ghost-frame]) {
		--mask: linear-gradient(
			to right,
			rgba(255, 255, 255, 5%),
			rgba(255, 255, 255, 80%) 20%,
			white 25%,
			white 60%,
			rgba(255, 255, 255, 80%) 70%,
			rgba(255, 255, 255, 5%)
		);
	}
}

.fcf {
	height: 50vh;
	display: inline-block;
	margin-top: -15vh;
	margin-left: 0;
	margin-right: 0;
	width: 50vw;
	min-width: 640px;
	isolation: isolate;
}

.fcf::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 100%;
	width: 150%;
	height: 75%;
	transform: translate(-50%, -45%);
	background-image: radial-gradient(closest-side, rgba(255, 255, 255, 40%), rgba(255, 255, 255, 0));
}

.fcf--visible {
	--thin-glow: 0 0 1px 0 #fff;
}

.fcf-inner-frame {
	text-shadow: 0 0 2px #fff;
}

.fcf-image {
	border-radius: 3px;
	border: 5px solid #000;
	box-sizing: border-box;
}

.fcf--visible[data-fcf-index='0'],
.fcf--visible[data-fcf-index='1'],
.fcf--visible[data-fcf-index='2']{
	cursor: w-resize;
}

.fcf--visible[data-fcf-index='4'],
.fcf--visible[data-fcf-index='5'],
.fcf--visible[data-fcf-index='6']{
	cursor: e-resize;
}

.fcf--visible[data-fcf-index='3'] .fcf-image{
	cursor:zoom-in;
}

.fcf-title,
.fcf-image {
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
	transition-property: visibility, transform, transform-origin, filter;
}

.fcf--visible:not(.fcf--median-visible) :is(.fcf-image, .fcf-title) {
	--side-glow: calc(var(--shadow-direction) * 2px) 0 0 #ccc;
	filter: brightness(60%);
}

:is(
	.fcf--visible:not(.fcf--first-visible, .fcf--last-visible),
	.fcf--median-visible:is(.fcf--first-visible, .fcf--last-visible)
) .fcf-image {
	box-shadow:
		var(--thin-glow),
		var(--side-glow, none),
		calc(var(--shadow-direction) * 15px) 10px 30px rgba(0,0,0,50%);
}

:is(.fcf--first-visible, .fcf--last-visible) .fcf-image {
	box-shadow: var(--side-glow, none);
}

.fcf--first-visible,
.fcf--first-visible ~ .fcf--visible {
	--shadow-direction: -1;
}

.fcf--median-visible:not(.fcf--last-visible),
.fcf--median-visible ~ .fcf--visible {
	--shadow-direction: 1;
}

.fcf--median-visible:not(
	.fcf--first-visible,
	.fcf--last-visible
) .fcf-image {
	box-shadow:
		var(--thin-glow),
		15px 10px 30px rgba(0,0,0,75%),
		-15px 10px 30px rgba(0,0,0,75%);
}

.fcf-title {
	transform: translateY(50%);
	width: 100%;
	display: flex;
	justify-content: center;
	overflow: visible;
	font-size: 10px;
	line-height: 1.625;
}

.fcf-title > * {
	--shadow-distance: 2px;
	--thin-border: var(--thin-glow), var(--thin-glow);
	
	background-color: rgb(20, 10, 10);
	white-space: nowrap;
	padding: 0.125em 0.25em;
	box-sizing: border-box;
	text-transform: uppercase;
	text-overflow: ellipsis;
	letter-spacing: 0.1ch;
	max-width: 100%;
	overflow: hidden;
	border-radius: 0.3em;
	padding: 0.25em 0.5em 0 0.5em;

	box-shadow:
		var(--thin-border),
		var(--side-glow, none),
		calc(var(--shadow-direction, 0) * 5px) calc(-0.5 * var(--shadow-distance)) var(--shadow-distance) rgba(0,0,0,50%);

}

.fcf--median-visible .fcf-title > * {
	box-shadow:
		var(--thin-border),
		0 calc(-0.5 * var(--shadow-distance)) var(--shadow-distance) rgba(0,0,0,50%);
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0.75em 1.75em;
	width: 100%;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}

.brand,
nav {
	position: relative;
	isolation: isolate;
}

.brand {
	font-family: 'Bettina Signature';
	font-size: max(16px, 1.875vw);
	color: #fff49a;
	margin-left: auto;
	box-sizing: border-box;
}

.brand::first-letter,
nav li::first-letter {
	text-transform: uppercase;
}

:is(.brand, nav)::before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	z-index: -1;
	background-image: radial-gradient(closest-side, rgb(var(--background-color)), transparent);
}

nav {
	font-size: max(16px, 1.25vw);
}

nav ul {
	list-style: none;
	display: flex;
	column-gap: 2em;
	padding: 0;
}

nav li,
.copyright {
	opacity: 62.5%;
}

nav li {
	cursor: pointer;
	transition: 0.25s ease-in-out opacity;
}

@media (hover: hover) {
	nav li:hover {
		opacity: 100%;
	}
}

.copyright {
	position: absolute;
	right: 0;
	bottom: 0;
	font-family: arial;
	font-size: 12px;
	padding: 1em;
}

/* TODO: handle contact when proper mail-sender is found */
nav li:last-child {
	display: none;
}
/**/
